<!--
     Halaman awal pertamakali diakses oleh pengguna
     Vidyanusa Tim Server
 -->
<!DOCTYPE html>
<html>

<head>
  <title>Belajar menyenangkan di Vidyanusa</title>
  <link rel='shortcut icon' href='/images/shortcut-icon.png'>
  <link rel='stylesheet' href='/dist/semantic.css' />
  <link rel='stylesheet' href='/stylesheets/custom.css' />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <!-- <script type="text/javascript" src="/javascripts/angular/index.js"></script> -->
</head>

<body>

  Ambil daftar sekolah
  <script type="text/javascript">
    $('.carousel-introduction').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 3000,
      dots: true,
      infinite: true,
      arrows: false,
      focusOnSelect: true
    });
  </script>
</body>

</html>
